@import '../../../media';

.core-value {
  background: url('../../../assets/Imae\ 04.png') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  margin: 30px 0;
  padding: 50px 10px;
  color: white;
  flex-direction: column;
  display: flex;

  .header {
    margin-bottom: 20px;
  }

  @include for-size(phone-only) {
    padding: 30px 5px;
  }

  .core-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 220px);
    @include for-size(tablet-landscape-up) {
      grid-template-columns: repeat(2, 200px);
      grid-gap: 40px;
      .core-card {
        h2 {
          font-size: 1em;
        }
      }
    }

    @include for-size(phone-only) {
      grid-template-columns: repeat(2, 150px);
      column-gap: 10px;
      row-gap: 20px;
      .core-card {
        width: 100% !important;
        h2 {
          font-size: 0.8em;
        }
        p {
          font-size: 0.7em !important;
        }
      }
    }

    .core-card {
      background: white;
      border-radius: 10px;
      height: auto;
      width: 90%;
      padding: 20px 10px;

      .card-img {
        height: 50px;
        margin-bottom: 20px;
      }

      h2 {
        color: color(theme);
        margin-bottom: 10px;
      }

      p {
        font-size: 0.8em;
      }
    }
  }
}
