@import '../../media';

.blog {
  .blog-section {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-areas: 'blog blog blog';

    @include for-size(desktop-up) {
      width: 95%;
    }

    @include for-size(smaller-desktop) {
      grid-template-areas: 'blog';
    }
  }
}
