@import '../../../media';

.jcx {
  margin-bottom: 140px;
  padding-top: 50px;

  .cdx {
    margin-top: 100px;

    @include for-size(phone-only) {
      flex-direction: column;
    }

    .jcx_card {
      background: color(deep_theme);
      color: white;
      width: 100%;
      max-width: 250px;
      height: 370px;
      border-radius: 20px;
      padding: 20px;
      margin: 0 20px;

      @include for-size(tablet-portrait-up) {
        margin: 0 5px;
      }

      @include for-size(phone-only) {
        height: auto;
        max-width: unset;
        margin-bottom: 30px;
      }

      strong {
        font-size: 3em;
        font-weight: 500;
        margin-bottom: 50px;
        display: block;

        @include for-size(tablet-portrait-up) {
          font-size: 2.5em;
        }
      }

      h2 {
        margin-bottom: 30px;
        font-weight: 500;
        @include for-size(tablet-portrait-up) {
          font-size: 1.3em;
        }
      }

      &:nth-child(2) {
        background: color(off);
        transform: translateY(40px);

        @include for-size(phone-only) {
          transform: unset;
        }
      }

      &:nth-child(3) {
        background: color(secondary);
      }
    }
  }
}
