@import '../../media';

.about {
  .short-desc {
    margin: 40px auto;
  }

  .mission {
    height: 70vh;
    margin: 40px auto;
    @include for-size(phone-only) {
      display: block;
      height: auto;
    }

    h2 {
      margin-bottom: 10px;
    }

    .text-sec {
      width: 50%;
      @include for-size(phone-only) {
        width: 100%;
      }
      div {
        margin-bottom: 20px;
      }
    }

    .img-sec {
      @include for-size(phone-only) {
        width: 100%;
        height: 400px;
      }
      width: 50%;
      height: 100%;
    }
  }

  .pastor {
    height: 70vh;
    margin: 50px auto 0px;
    h2 {
      color: color(theme);
      margin-bottom: 20px;
    }
    .lead-pastor {
      .img-sec {
        height: 80%;
        width: 40%;
        img {
          border-radius: 10px;
        }
      }

      .text-sec {
        width: 60%;
      }

      @include for-size(tablet-portrait-up) {
        .img-sec {
          width: 50%;
        }
        .text-sec {
          width: 50%;
        }
      }

      @include for-size(phone-only) {
        display: block;
        height: auto;
        .img-sec {
          width: 100%;
          margin-bottom: 20px;
        }
        .text-sec {
          width: 100%;
        }
      }
    }
  }
}
