@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_ssv/thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_ssv/light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_ssv/regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_ssv/bold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_ssv/extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/proxima_ssv/black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
