@import '../../media';

.banner {
  width: 100%;
  height: 100vh;
  position: relative;

  .image-section {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    .imgCaption {
      height: 400px;
    }

    h2 {
      font-size: 120px;
    }

    h4 {
      font-size: 50px;
    }

    @include for-size(tablet-portrait-up) {
      .imgCaption {
        height: 300px;
      }
      h2 {
        font-size: 100px;
      }

      h4 {
        font-size: 30px;
      }
    }

    @include for-size(phone-only) {
      .imgCaption {
        height: auto;
      }
      h2 {
        font-size: 70px;
      }

      h4 {
        font-size: 25px;
      }
    }

    strong {
      text-decoration: underline;
      text-decoration-color: color(theme);
    }
  }
}
